<dx-polar-chart
    [dataSource]="this.wheelData"
    (onInitialized)="onChartInit($event)"
    palette="Bright">
    <dxo-common-series-settings
        type="bar"
        [ignoreEmptyPoints]="true">
    </dxo-common-series-settings>
    <dxo-series-template
        nameField="arg">
    </dxo-series-template>
    <dxo-legend
        [visible]="false">
    </dxo-legend>
    <dxo-argument-axis>
        <dxo-label
            [customizeText]="getCategory">
        </dxo-label>
    </dxo-argument-axis>
    <dxo-value-axis
        [allowDecimals]="false"
        [min]="0"
        [max]="10"
        [axisDivisionFactor]="1">
    </dxo-value-axis>
    <dxo-title 
        [text]="data.date | date">
    </dxo-title>
    <dxo-margin
        [top]="20">
    </dxo-margin>
</dx-polar-chart>