li {
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    margin: 15px;
    list-style-type: none;
    width: 440px;
    height: 440px;
    position: relative;
    float: left;
}

ul {
    margin: 0 10px;
    padding: 0;
}

.add-checkpoint-icon {
    font-weight: 300;
    font-size: 100px;
    color: #777;
    display: block;
    padding: 170px;
    text-decoration: none;
}